body{
	margin:0;
	padding:0;
	background: url("../images/fondo.jpeg") no-repeat center top;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.table {
   margin: 5% auto 0% auto;
   width: 50%; 
   text-align:center;
   font-size: 150%;
}

thead{
	background: #5500FF;
	color:white;
}
