[Unit]
Description=Demonio simple para tareas con usuarios

[Service]
Type=simple
ExecStart=/bin/bash /usr/sbin/simpleDaemon/simpleDaemon.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
